name: iOS-ipa-build

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          architecture: x64

      - run: flutter clean
      - run: flutter pub get

      - run: |
          sudo gem install cocoapods
          cd ios
          pod install --repo-update

      - run: flutter build ios --release --no-codesign

      - run: |
          cd build/ios/iphoneos
          mkdir Payload
          mv Runner.app Payload
          zip -r FlutterIpaExport.ipa Payload

      - uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/ios/iphoneos/FlutterIpaExport.ipa
          tag: v1.0
          overwrite: true
